/* General Styling */

/* Configure the text that we select */
::selection {
	background-color: $title-color;
	color: $text-color;
}

body {
	font-family: $text-type;
	background-color: $background-color;
	color: $text-color;
	font-size: 1.4rem;
	line-height: 1.4em;
}

hr {
	border: solid 1px $hover-color;
}

main, footer {
	text-align: center;
}

h1, h2, h3, h4 {
	font-family: $title-type;
	color: $title-color;
	padding: 0 0.4em 0.4em;
	line-height: 1em;
}

h2 {
	font-size: 3.5rem;
	padding-top: 0.2em;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.5rem;
}

section {
	padding: 1.5em 0;
}

article {
	padding-top: 1.5em;
}

p {
	width: clamp(10px, 90%, 500px);
	margin: 0.5em auto 0;
}

header {
	background-color: $background-color;
	position: sticky;
	top: 0;

	z-index: 10;
}