/* Hide Content */
@mixin hide {
	position: absolute;
	transform: scaleY(0);
	z-index: -1;
}

/* Navbar animations */
@mixin open-anim($numH: 2s, $numHD: 0s, $numT: .8s, $numTD: .3s) {
	transform: scaleY(1);
	max-height: 1000px;
	overflow: visible;
	transition: max-height $numH $numHD,transform $numT $numTD;
	transform-origin: top;
}

@mixin close-anim($numH: 1s, $numT: .8s) {
	transform: scaleY(0);
	max-height: 0;
	overflow: hidden;
	transition: max-height $numH,transform $numT;
	transform-origin: top;
}

/* ---------- Media Queries ---------- */

/* 600px */
@mixin mobile-lg {
	@media screen and (min-width: 37.5em) {
		@content;
	}
}

/* 768px */
@mixin tablet {
	@media screen and (min-width: 48em) {
		@content;
	}
}

/* 1200px */
@mixin desktop {
	@media screen and (min-width: 75em) {
		@content;
	}
}

/* 1312px */
@mixin desktop-lg {
	@media screen and (min-width: 84em) {
		@content;
	}
}