/* Fonts */
@font-face {
    font-family: 'LHFEncoreRegular';
    src: url('../../fonts/LHFEncoreRegular.eot');
    src: url('../../fonts/LHFEncoreRegular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/LHFEncoreRegular.woff2') format('woff2'),
        url('../../fonts/LHFEncoreRegular.woff') format('woff'),
        url('../../fonts/LHFEncoreRegular.ttf') format('truetype'),
        url('../../fonts/LHFEncoreRegular.svg#LHFEncoreRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Colors */
$title-color: #feab42;
$text-color: #ffffff;
$hover-color: #877859;
$highlight-color: #c2a775;
$background-color: #000000;
$copyright-color: #7b7b7b;

/* Typography */
$title-type: "LHFEncoreRegular", sans-serif;
$text-type: "Bentham", sans-serif;