/* Variables */

/* Colors */
$title-color: #feab42;
$text-color: #ffffff;
$hover-color: #877859;
$highlight-color: #c2a775;
$background-color: #000000;
$copyright-color: #7b7b7b;

/* Typography */
$title-type: "LHFEncoreRegular";
$text-type: "Bentham";