.float-display {

    @include tablet {
        max-width: 800px;
        margin: 0 auto 0;

        display: flow-root;

        a {
            float: left;
            margin: 1em .1em .1em 4em;
        }

        &--reverse a {
			float: right;
            margin: 1em 4em .1em .1em;
		}
	}
}