.gallery {

	@include mobile-lg() {
		max-width: 985px;
		margin: 0 auto;
		padding: 0 1em;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		gap: 1em;
	}

	@include desktop-lg() {
		max-width: 1585px;
	}
}