/* Grid image + text sections */
.grid-display {

	@include tablet() {
		max-width: 900px;
		margin: 0 auto 0;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		a, img {
			margin-top: 0;

			grid-row: 1 / 3;
			grid-column: 1 / 2;
		}

		&--reverse a {
			grid-column: 2 / 3;
		}
	}
}