/* Images */
.image {
	width: 90%;
	aspect-ratio: 1;
	margin: 1em auto 0;
	border: solid 3px $highlight-color;
	max-width: 300px;
	object-fit: cover;
	overflow: hidden;

    &--margin--top {
        margin-top: 1.5em;
    }

    &__item--aspect-ratio {
        aspect-ratio: 1;
        object-fit: cover;
    }

	@include mobile-lg() {
		flex-basis: 50%;
	}
}

.gallery {

	@include mobile-lg() {
		max-width: 985px;
		margin: 0 auto;
		padding: 0 1em;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		gap: 1em;
	}

	@include desktop-lg() {
		max-width: 1585px;
	}
}