.image {
	width: 90%;
	aspect-ratio: 1;
	margin: 1em auto 0;
	border: solid 3px $highlight-color;
	max-width: 300px;
	object-fit: cover;
	overflow: hidden;

    &--margin--top {
        margin-top: 1.5em;
    }

	@include mobile-lg {
		flex-basis: 50%;
	}
}