.navbar {
	display: flex;
	flex-direction: column;
	align-items: center;

    hr {
        display: block;
        width: 100%;
    }

    a {
        padding: 0.6em 0.4em;
    }

    &__list {
        @include aninav(0, 0, hidden, .8s, .4s);

        width: 100%;
        border: solid 2px $highlight-color;
        margin-bottom: 0.2em;

        a:hover:not(.navbar__item--active, .navbar__dropdown-item--active) {
            background-color: $highlight-color;
        }

        &--visible {
            @extend .navbar__list;

            @include aninav;
        }

        @include mobile-lg {
            border: none;

            display: flex;
            justify-content: space-evenly;

            > li > a:hover:not(.navbar__item--active) {
                background-color: $background-color;
                color: $highlight-color;
            }

            &--visible {
                transition: max-height 0s,transform 0s;
            }
        }
    }

    &__item--active {
        color: $highlight-color;
    }

    &__menu {

        @include mobile-lg {
            display: none;
        }
    }

    /* Dropdown content of the navbar */
    &__dropdown {

        &-button {
            width: 100%;
            text-align: left;
            cursor: pointer;
            padding: 0.6em 0.4em;

            &:hover {
                background-color: $highlight-color;

                @include mobile-lg {
                    background-color: $background-color;
                    color: $highlight-color;
                }
            }

            i {
                font-size: .52em;
                position: relative;
                bottom: 2px;
                margin-left: 0.1em;
            }
        }

        &-items {
            @include aninav(0, 0, hidden, .5s, .3s);

            background-color: $background-color;
            min-width: 160px;
            z-index: 1;
            border: solid 2px $highlight-color;

            a {
                padding-left: 0.8em;
            }

            &--visible {
                @extend .navbar__dropdown-items;

                @include aninav;
            }

            @include mobile-lg {
                position: absolute;
                top: 2.8em;
                min-width: 120px;
            }
        }

        .navbar__dropdown-items .navbar__dropdown-item--active {
            color: $highlight-color;
            background-color: $background-color;
        }
    }
}