.navbar {
	display: flex;
	flex-direction: column;
	align-items: center;

    hr {
        display: block;
        width: 100%;
    }

    a {
        padding: 0.6em 0.4em;
    }

    &__list {
        display: none;

        width: 100%;
        border: solid 2px $highlight-color;
        margin-bottom: 0.2em;

        /* Animation */
        animation-name: open-menu;
        animation-duration: .3s;
        transform-origin: top;

        a:hover:not(.navbar__item--active, .navbar__dropdown-item--active) {
            background-color: $highlight-color;
        }
    }

    &__item--active {
        color: $highlight-color;
    }

    @include mobile-lg() {
        &__menu {
            display: none;
        }

        &__list {
            border: none;

            display: flex;
            justify-content: space-evenly;

            animation-name: none;

            > li > a:hover:not(.navbar__item--active) {
                background-color: $background-color;
                color: $highlight-color;
            }
        }
    }

    /* Dropdown content of the navbar */
    &__dropdown {

        &-button {
            width: 100%;
            text-align: left;
            cursor: pointer;
            padding: 0.6em 0.4em;

            &:hover {
                background-color: $highlight-color;
            }

            i {
                font-size: .52em;
                position: relative;
                bottom: 2px;
                margin-left: 0.1em;
            }
        }

        &-items {
            display: none;
            background-color: $background-color;
            min-width: 160px;
            z-index: 1;
            border: solid 2px $highlight-color;

            /* Animation */
            animation-name: open-menu;
            animation-duration: .3s;
            transform-origin: top;

            a {
                padding-left: 0.8em;
            }
        }

        .navbar__dropdown-items .navbar__dropdown-item--active {
            color: $highlight-color;
            background-color: $background-color;
        }

        @include mobile-lg() {
            &-button:hover {
                background-color: $background-color;
                color: $highlight-color;
            }

            &-items {
                position: absolute;
                top: 65px;
                min-width: 120px;
            }
        }
    }
}

/* Animation keyframes for opening the menu */
@keyframes open-menu {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}