/* Explore Section */
.explore {

	@include tablet() {
		&__articles {
			display: flex;
			flex-wrap: wrap;

			> article:not(.explore__more) {
				flex-basis: 50%;

				@include desktop() {
					flex-basis: 25%;
				}
			}
		}
	}
}

/* News Section */
.news {

	@include tablet() {
		&__destination {
			margin-top: 2em;
		}
	}
}

/* Get in Touch Section */

/* Form */
.contact {

	@include tablet() {
		&__form > div:first-child {
			max-width: 700px;
			margin: 0 auto;

			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		&__message {
			max-width: 650px;
			margin: 0 auto;

			* {
				width: 100%;
			}

			label {
				margin: 0 0 0.5em;
			}
		}
	}
}