/* Introductory Section */

/* Explore Section */
.explore {

	@include tablet() {
		&__articles {
			display: flex;
			flex-wrap: wrap;

			> article:not(.explore__more) {
				flex-basis: 50%;

				@include desktop() {
					flex-basis: 25%;
				}
			}
		}
	}
}

/* News Section */
.news {

	article {
		@extend .grid-display;

		a {
			@extend .image;
		}
	}

	.news__character {
		@extend .grid-display--reverse;
	}

	@include tablet() {
		&__destination {
			margin-top: 2em;
		}
	}
}

/* Author Section */
.author {
	@extend .grid-display;

	img {
		@extend .image;
	}
}

/* Get in Touch Section */

/* Form */
.contact {

	&__form {
		@extend .form;

		@include tablet() {
			> div:first-child {
				max-width: 700px;
				margin: 0 auto;

				display: grid;
				grid-template-columns: 1fr 1fr;
			}
		}
	}

	&__textarea {
		@extend .form__textarea;
	}

	&__verification {
		@extend .form__verification;
	}

	&__math {
		@extend .form__math;
	}

	&__submit {
		@extend .form__submit;
	}

	@include tablet() {
		&__message {
			max-width: 650px;
			margin: 0 auto;

			* {
				width: 100%;
			}

			label {
				margin: 0 0 0.5em;
			}
		}
	}
}