/* Map Section */
.map {
	width: 90%;
	margin: 1em auto 0;

    img {
        border: solid 3px $hover-color;
    }

    figcaption {
        font-size: 1.2rem;
        color: $copyright-color;
    }
}

/* Places Section */
.places {

    &__gallery {
        @include gallery;

        > div {
            @include image;
        }
    }

    .places__ {

        &arnoras {
            @include image--margin--top;
        }
    }
}