/* Races Section */
.races {

    > div {
        padding: 1.5em 0;

        h3 {
            padding-bottom: 1em;
        }

        h4 {
            padding-bottom: 0.7em;
        }
    }

    &__gallery {
        @include gallery;

        > div {
            @include image;
        }
    }

    .races__1st {
        padding-top: 0;
    }

    .races__5th {
        padding-bottom: 0;
    }
}
