/* Races Section */
.races {

    > div {
        padding: 1.5em 0;

        h3 {
            padding-bottom: 1em;
        }

        h4 {
            padding-bottom: 0.7em;
        }
    }

    &__gallery {
        @extend .gallery;

        > div {
            @extend .image;

            img {
                @extend .image__item--aspect-ratio;
            }
        }
    }

    .races__1st {
        padding-top: 0;
    }

    .races__5th {
        padding-bottom: 0;
    }

    &__race {

        &-4 a img {
            object-position: 0 -20px;
        }

        &-9 a img {
            object-position: left;
        }

        &-11 a img {
            object-position: 0 -30px;
        }

        &-12 a img {
            object-position: top;
        }

        &-18 a img {
            object-position: -100px -50px;
        }

        &-20 a img {
            object-position: 0 -15px;
        }
    }
}
