/* Era Section */
.era {

    article {
        padding-bottom: 1.5em;

        a {
            @include image;
        }

        @include float-display;
    }

    .era__dawn {
        padding-top: 0;

        @include float-display--reverse;
    }

    .era__second {
        @include float-display--reverse;
    }

    .era__third {
        padding-bottom: 0;
    }
}